<h1><%= @scientist.name %>'s Page</h1>

<div class="sci-details">
  <p>Name: <%= @scientist.name %></p>
  <p>Specialty: <%= @scientist.specialty %></p>
  <p>Graduated from: <%= @scientist.university %></p>
</div>